<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-secondary btn-sm" type="submit" data-disable-with="Creating file…">Create new task</button>
      <form class="form-inline navbar-form pull-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-success-outline" type="submit">Search</button>
      </form>
      <table class="table table-hover">
        <tr>
          <th>Number</th>
          <th>Type</th>
          <!--<th>Source DB Source</th>
          <th>Source DB Schema</th>
          <th>Source DB Table</th>-->
          <th>Source</th>
          <th>Target</th>
          <!--<th>Target DB Source</th>
          <th>Target DB Schema</th>
          <th>Target DB Table</th>-->
          <th>Runing state</th>
          <th>Runing progress</th>
          <th>Option</th>
          <th>Option</th>
        </tr>
        <tr *ngFor="let n of HEROES">
          <td>{{ n.id }}</td>
          <td>
            {{ n.id }} <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
            {{ n.id }} <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
            {{ n.id }}
          </td>
          <td>{{n.s_schema}}/{{n.s_schema}}.{{n.s_table}}</td>
          <td>{{n.target}}/{{n.t_schema}}.{{n.t_table}}</td>
          <td>
            <i class="fa fa-refresh fa-spin fa-lg"></i>
            <span class="sr-only">运行中...</span>运行中...
          </td>
          <td width="30%">
            <progress class="progress progress-striped" value="{{n.min1}}" max="100">75%
              <span class="sr-only">60% Complete</span>
              <span class="progress-type">HTML / HTML5</span>
            </progress>
          </td>
          <td>delete</td>
          <td>
            <a href="sss"><i class="fa fa-play" aria-hidden="true"></i></a>
            <a href="sss"><i class="fa fa-pause" aria-hidden="true"></i></a>
            <a href="sss"><i class="fa fa-stop" aria-hidden="true"></i></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>