<div class="card">
  <div class="card-header">
    <h5>Target Configure</h5>
  </div>
  <div class="card-block">
    <form>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="targetDbNumber">Target Db</label>
          <select class="form-control" id="targetDbNumber" [(ngModel)]="_conf_target_db" name="db" required>
            <option value="1">fun / system</option>
            <option value="2">fun2</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="targetDbSchema">Target Schema</label>
          <input class="form-control" id="targetDbSchema" [(ngModel)]="_conf_target_schema" name="schema">
        </div>
        <div class="col-sm-4">
          <label for="targetDbTable">Target Table</label>
          <input class="form-control" id="targetDbTable" [(ngModel)]="_conf_target_table" name="table">
        </div>
      </div>
      <div class="form-group col-md-offset-5">
        <button type="button" class="btn btn-secondary btn-sm" (click)="setTargetConfigure()">Target Success
        </button>
      </div>
    </form>
  </div>
</div>